@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;

}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px 15px;
    background-color: #fff;
}

/* Vai conter o nome do dono do projeto */
header {
    background: #fff;
    text-align: center;
}

#escola {
    font-family: 'Great Vibes', cursive;
    font-size: 60px;
    padding: 2%;
    color: yellow;
    text-shadow: -3px 3px 10px black;
    letter-spacing: 3px;
}

nav {
    background: #fff;
}

nav div {
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

nav a {
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    padding: 8px;
    margin: 10px;
    background: transparent;
    color: black;
    background-color: #d8d8d8;
    border-radius: 2px;
    width: 80px;
    height: 20px;
    font-size: 15px;
}

nav a:hover {
    box-shadow: inset;
    font-size: 14px;

}

/* class da section do video mini-bio */
.mini-bio {
    position: relative;
    display: grid;
    place-items: center;
    padding: 5%;
    background: ;
}

/* class da tag video video-bio */
video.video-bio {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
    z-index: 0;
}

.mini-bio div {
    z-index: 1;
    background: white;
}

.text-bio {
    text-align: left;
    font-family: 'Playfair Display', serif;
    color: black;
    opacity: 0.7;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

.text-bio h2 {
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    color: black;
}

.conteudo video {
    width: 100%;
}

.aula {
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: black;
    background-color: #d8d8d8;
    border-radius: 2px;
    font-size: 25px;
    margin-block-end: 10px;
    margin-block-start: 10px;
}

.audio {
    width: 30%;
    margin-left: 35%;
}

.sobre {
    background: #555;
    color: black;
}

.sobre p {
    margin-block-start: 20px;
    margin-block-end: 20px;
    font-size: 20px;
}

.sobre h2 {
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

.link {
    text-align: center;
}

.objetivos img {
    width: 100%;
    height: 600px;
    z-index: 0;
    position: relative;
    
}

.objetivos p {
    padding: 3%;
    margin: 5%;
    margin-block-start: 200px;
    margin-block-end: 20px;
    z-index: 1;
    position: absolute;
    background: #fff;
    opacity: 0.7;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
    font-size: 30px;
}

.contatos {
    background: #444;
    color: black;
    border-radius: 5px;
}

.contatos img {
    width: 20px;
}

.contatos a {
    color: black;
    text-decoration: none;
    text-align: left;
    letter-spacing: 3px;
}

.contatos a:hover {
    color: gray;
    transition: .5s;
}

footer {
    padding: 20px;
    background: #333;
    color: whitesmoke;
    text-align: center;
}

footer img {
    width: 20px;
}